body {
  background-color: bisque;
  
}

p{
  font-weight: bolder;
  font-size: xx-large;
  
}
button{
  width: 8em;
  height: 4em;
}

h2 {
  color: red;
}

h4 {
  color: orange;
}

h5 {
  color: blue;
}